body {
    font-family: "Times New Roman", Georgia, Serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

#tema1 {
    position: relative;
    top: 20px;
    text-align: center;
    width: 100%;
}

@font-face {
    font-family: honey;
    src: url(src/font/Angler.ttf);
}

.letra {
    font-family: honey;
}

#doce,
#salgado,
#bolo,
#gourmet {
    display: none;
}