body {
    font-family: "Times New Roman", Georgia, Serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

#tema1 {
    position: relative;
    top: 20px;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .modo_cell {
        display: none;
    }
    #tema1 {
        position: relative;
        top: 22px;
        left: 40px;
        font-size: 29px;
    }
}

@media only screen and (max-width: 500px) {
    .w3-xxlarge {
        font-size: 5px;
    }
}