@media only screen and (max-width: 650px) {
    .modo_cell {
        display: none;
        font-size: 15px;
    }
    #tema1 {
        position: relative;
        top: 22px;
        margin-left: 50%;
        transform: translateX(-15%);
        font-size: 29px;
    }
    /* video do cardapio */
    iframe {
        width: 100%;
    }
    /* botão de enviar os dados dos clientes */
    #enviar {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    /* centro do meus posts */
    #menu_de_comidas {
        width: 90%;
    }
    #ingredientes {
        grid-template-columns: 90%;
        left: ;
    }
}