@media only screen and (max-width: 650px) {
    .modo_cell {
        display: none;
        font-size: 15px;
    }
    #tema1 {
        position: relative;
        top: 22px;
        margin-left: 50%;
        transform: translateX(-15%);
        font-size: 29px;
    }
    .w3-image {
        display: block;
    }
    /* video do cardapio */
    iframe {
        width: 100%;
    }
    /* botão de enviar os dados dos clientes */
    #enviar {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    footer {
        width: 100%;
    }
    /* centro do meus posts */
    #menu_de_comidas {
        width: 34em;
        display: grid;
        place-content: center;
    }
    /* footer parte final da pagina */
    footer>nav>nav {
        left: 75%;
    }
    footer>nav {
        font-size: 12px;
    }
}